:root {
    --mainColor: #e73243
}

.nav.navbar-nav li a.active,
.nav-right li a.active,
.user-menu li a.active,
.text-error {
    color: var(--mainColor);
}

.text-sm{
    font-size: 16px;
}

.text-gray{
    color: #0a0a0a;
}

.section-title.featured-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title.featured-top span{
    font-size: 20px;
    color: rgba(128, 128, 128, 0.494);
}

.section-title.featured-top span i:first-child{
    display: inline-block;
    margin-left: 8px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}