:root {
    --mainColor: #e73243
}

.nav.navbar-nav li a.active,
.nav-right li a.active,
.user-menu li a.active,
.selected-category,
.collapse .card-body ul li span.active,
.text-error {
    color: var(--mainColor) !important;
}

.text-sm {
    font-size: 16px;
}

.text-gray {
    color: #0a0a0a;
}

.section-title.featured-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title.featured-top span {
    font-size: 20px;
    color: rgba(128, 128, 128, 0.494);
}

.section-title.featured-top span i:first-child {
    display: inline-block;
    margin-left: 8px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-section{display: flex; justify-content: center;}

.disabled-cursor {
    pointer-events: none;
    background-color: #dadada;
}

.enabled-cursor{
    pointer-events: all;
    background-color: var(--mainColor) !important;
}

.enabled-cursor:hover{color: #fff !important;}

.btn-info{
    cursor: pointer;
    color: var(--mainColor) !important;
}

.btn-info:hover{
    border: 1px solid var(--mainColor);
}

.upload-input{
    width: 100% !important;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-category .category-dropdown{
    border: 1px solid #e8e8e8;
}

.add-category .category-dropdown .category-change{
    width: 100%;
}

.add-category .category-dropdown .category-change li{
    margin: 0 10px;
    transition: all .4s;
    cursor: pointer;
}

.add-category .category-dropdown .category-change li:hover{
    color: var(--mainColor);
}

.select-option input{
    width: 15px;
    height: 15px;
}

.select-nardeban{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.select-nardeban label{
    margin-left: 8px;
}

#product-carousel .carousel-indicators img{
    width: auto;
    height: 80px;
    object-fit: cover;
}

#product-carousel .carousel-inner .carousel-item img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}